.job-entry{
    background-color: var(--social-bg);
    padding: 0.2rem 1rem;

    border: 1px solid rgb(82, 82, 82);
    border-radius: 1rem;

    transform: translateY(10px);
    opacity: 0;
    transition: all ease 0.2s;
}

.job-entry.spawned{
    opacity: 1;
    transform: translateY(0px);
}

.job-entry h3{
    margin-top: 0.9rem;
    margin-bottom: 0.8rem;
    font-size: 2rem;
}

.status-container{
    display: flex;
    align-items: center;
    gap: 0.6rem;
}
.status-select{
    font-size: 0.9rem;
    padding: 0.2rem 0.2rem;
    border-radius: 0.5rem;
}

.status-select:focus{
    outline: none;
    box-shadow: none;
}

.status-text{
    width: 12px;
    height: 12px;
    border-radius: 4rem;
}

.status-text.applied{
    background-color: var(--yellow);
}
.status-text.reviewing{
    background-color: var(--orange);
}
.status-text.rejected{
    background-color: var(--red);
}
.status-text.accepted{
    background-color: var(--green);
}

.top-right-overlay{
    position: absolute;
    right: 0;
    bottom: 1;
    top: 0;
    margin: 1rem;
}
.bottom-right-overlay{
    position: absolute;
    right: 0;
    bottom: 0;
    top: 1;
    margin: 1rem;
}