:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #bbbbbb;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --form-bg: rgba(26, 26, 26, 0.733);

  --green: rgb(76, 247, 76);
  --red: rgb(173, 55, 55);
  --orange: rgb(204, 127, 64);
  --yellow: rgb(235, 218, 71);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
}

.label-container{
  display: flex;
  gap: 0.3rem;
}

button {
  border-radius: 0.3rem;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  transition: all 0.2s ease;
  transform: scale(1);
}

button:hover{
  background-color: var(--accent);
}

button:active{
  transform: scale(0.9);
}

input {
  font-size: 1.1rem;
  border-radius: 1rem;
  border: 1px solid var(--border);
  padding: 0.5rem 1rem;
}

.tooltip{
  display: flex;
}

.tooltip-text{
  position: absolute;
  left: 0;
  right: 0;
  width: fit-content;

  align-self: center;
  justify-self: center;
  pointer-events: none;

  padding: 0.2rem 0.4rem;

  font-size: 0.8rem;
  transform: translateY(-1.0rem);
  opacity: 0;
  transition: all 0.04s ease;
  background-color: var(--form-bg);

}

.tooltip:hover .tooltip-text{
  transform: translateY(-1.5rem);
  opacity: 1;
}